.dash-navbar{
    display: flex;
    width: 100vw;
    height: 91px;
    /* padding: 0px 9px; */
    justify-content: space-around;
    align-items: center;
    /* gap: 921px; */
    border-radius: 0px 0px 10px 0px;
    background-color: #00234E;
    flex-shrink: 0;
    z-index: 100;
}