.main-container{
    display: grid;
    /* column-gap: 300px; */
    grid-template-areas: "aside main main main";
    justify-content: center;
    background-color: #FFF8FA;
    height: 90vh;
}

/* .aside {
    grid-area: aside;
} */

/* .lower-nav{
    grid-area: footer;
} */

.main-content{
    grid-area: main;
    display: flex;
    padding: 8px 19px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 9px;
}

@media screen and (max-width: 570){
}