.GetingReady-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    max-width: 100vw;
    margin-top: 50px;
}
.GetingReady-left{
    
    border-radius: 18px;
    background-color: var(--Neutral-900, #131216);
    display: flex;
    height: 518px;
    width: 800px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 89px; */
    flex-shrink: 0;
    text-align: center;
}

.GetingReady-section h2{
    color: #fff; 
}

@media screen and (max-width: 570px) {

    /* .GetingReady-section{
        max-width: 100vw;
        margin-top: 50px;
        color: #fff;
        border-radius: 18px;
        background: var(--Neutral-900, #131216);
        display: flex;
        width: 342px;
        height: 518px;
        padding-top: 30px;
        padding-left: 20px;
        flex-direction: column;
        align-items: center;
        gap: 89px;
        flex-shrink: 0;
    } */

    .GetingReady-left{
        width: 328px;
        height: auto;
    }

    .GetingReady-section h2{
        font-size: 30;
        color: #fff; 
        margin-bottom: 1rem;
    }
    
    .GetingReady-section p{
        color: #FFF;
        text-align: center;
        /* font-family: EB Garamond; */
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1rem;
    }
  }
