.dev-path h2{
color: #FFF;
text-align: center;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    
@media screen and (max-width: 570px) {
    .dev-path h2{
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
  }